html {
    font-family: "Times New Roman", "SimSun", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Han Sans", sans-serif;
}

em {
    font-style: italic;
    font-synthesis: none;  /* browser will not synthesize an oblique font face */
    font-family: "Times New Roman", "KaiTi", sans-serif;
}

kbd, code {
    font-family: Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
}
