
.content a { text-decoration: none; font-weight: bold;}
.content img, .content video {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content img:hover {
    box-shadow: 0 0 8px 4px var(--table-header-bg);
}
.content figcaption {
    text-align: center;
}
